Flask
gunicorn
spacy

# Estas são grandes, adicione apenas se estritamente necessário pelo seu código Python
# ou se o spaCy falhar sem elas de forma explícita.
# transformers
# torch

# Opcional, se você usar nltk
# nltk